@use "@/styles/abstracts/variables" as *;

.layout {
  height: 100%;
  width: 100%;
  display: flex;
}

.contentLayout{
  height: 100%;
  width: 100%;
  background-color: $fill-gray;

  .header {
    height: 100px;
    width: 100%;
    background-color: $secondary-gray;
    border-bottom: 1px solid $border-gray;
  }

  .content {
    height: 100%;
    position: relative;
  }
}
