$secondary-gray: #E0E0E5;                 // Вторичный фон (панели, бордеры)
$fill-gray: #F2F2F5;                      // Основной фон блоков
$violet-contrast: #A7A0F8;                // Акцент (кнопки, выделения)
$main-white: #FFFFFF;                     // Общий фон приложения
$border-gray: #C7C9D1;                    // Границы, разделители
$text-white: rgba(0, 0, 0, 0.87);
